
.logo{

    background-color: rgb(37, 37, 54);
    
}

nav{
    background-color: rgb(48, 48, 70);
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline;
    margin-right: 10px;

}

.image-container{
    position: relative;
}
.image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
}

.banner{
    width: 100%;
}

ul{
    list-style: none;
}


.w100{
    width: 100%;
}
.col25{
    width: 24%;
    display: inline-block;
    height: 400px;
    border-radius: 20px;

}

.col25 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
}